annotated-doc
annotated-types
anyio
certifi
cffi
charset-normalizer
click
cryptography

faiss-cpu

filelock
fsspec

google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos

h11
hf-xet
httpcore
httplib2
httpx

huggingface_hub

idna
Jinja2
joblib

lxml

markdown-it-py
MarkupSafe
mdurl

mpmath
networkx

numpy
pandas

proto-plus
protobuf

pyasn1
pyasn1_modules
pycparser

pydantic
pydantic_core

Pygments

PyMuPDF

pyparsing
python-dateutil
python-docx
python-dotenv

PyYAML

regex
requests
rich

safetensors

scikit-learn
scipy

sentence-transformers

setuptools
shellingham
six

sympy

threadpoolctl

tokenizers

torch

tqdm

transformers

typer

typing-inspection
typing_extensions

uritemplate
urllib3

uvicorn
fastapi